In [2]:
from pycaret.classification import *
from pycaret.regression import *
from pycaret.regression import *
import pandas as pd

In [3]:
data = pd.read_csv('dataset\\clima.csv')

In [4]:
# Se elimina los datos faltantes o nulos para que no exista alguna interferencia con Pycaret
data.drop(data[data['temperature_2m_mean'].isnull()].index,inplace=True)

In [5]:
data

,Unnamed: 0,date,temperature_2m_max,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours
0,0,2015-01-01 05:00:00,2.361000,-4.2890,-1.245250,0.00,0.0
1,1,2015-01-02 05:00:00,5.261000,-2.0890,0.950583,0.00,0.0
2,2,2015-01-03 05:00:00,8.011001,-2.7390,1.721417,3.08,11.0
3,3,2015-01-04 05:00:00,13.661000,7.6110,10.054749,0.00,12.0
4,4,2015-01-05 05:00:00,6.061000,-4.3390,0.867250,0.00,0.0
...,...,...,...,...,...,...,...
3283,3283,2023-12-28 05:00:00,11.417500,9.0175,10.019583,0.00,21.0
3284,3284,2023-12-29 05:00:00,13.167500,7.4175,9.432082,0.00,3.0
3285,3285,2023-12-30 05:00:00,7.717500,1.2175,5.046667,0.00,2.0
3286,3286,2023-12-31 05:00:00,6.267500,-1.8825,2.782084,0.07,1.0
3287,3287,2024-01-01 05:00:00,7.317500,-0.5325,3.284167,0.00,0.0

In [6]:
# Se configura en 'target' la columna 'temperature_2m_max' porque deseamos predecir la temperatura máxima
s = setup(data, target = 'temperature_2m_max', session_id = 123)

En [Target type -->	Regression] nos indica que el tipo de modelo será de regresión linear.

In [7]:
# Lo usamos para comparar todos los tipos de regresión que existe
best = compare_models()

Processing:   0%|          | 0/81 [00:00<?, ?it/s]

In [8]:
# Indica que el mejor regresos es 'HuberRegressor'
print(best)

HuberRegressor()

In [9]:
# se evalua el modelo.
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [13]:
'''Aqui nos muestra que el modelo es altamente confiable. En las dos últimas colúmnas se puede ver la columna
que se desea predecir y en 'prediction_label' se muestra la predicción'''
predict_model(best)

,Unnamed: 0,date,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours,temperature_2m_max,prediction_label
1173,1173,2018-03-19 05:00:00,-2.232500,1.790417,0.00,0.0,7.267500,6.352992
2411,2411,2021-08-08 05:00:00,19.417501,20.996668,0.00,22.0,22.467501,22.610315
2266,2266,2021-03-16 05:00:00,-4.082500,-0.380417,0.07,1.0,2.667500,3.964656
1432,1432,2018-12-03 05:00:00,6.017500,10.177917,0.00,0.0,12.817500,14.763421
712,712,2016-12-13 05:00:00,-1.689000,1.550583,0.00,0.0,4.811000,5.541908
...,...,...,...,...,...,...,...,...
5,5,2015-01-06 05:00:00,-6.639000,-5.626500,1.05,6.0,-4.589000,-3.448702
1155,1155,2018-03-01 05:00:00,4.017500,9.646667,0.00,5.0,15.517500,15.034578
1578,1578,2019-04-28 05:00:00,5.867500,8.692500,0.00,5.0,11.067500,12.105811
116,116,2015-04-27 05:00:00,5.161000,10.154752,0.00,0.0,14.861000,15.290282
12,12,2015-01-13 05:00:00,-7.939000,-3.722334,0.21,2.0,1.011000,0.901141

In [11]:
predictions = predict_model(best)
predictions.head()

,Unnamed: 0,date,temperature_2m_min,temperature_2m_mean,snowfall_sum,precipitation_hours,temperature_2m_max,prediction_label
1173,1173,2018-03-19 05:00:00,-2.232500,1.790417,0.00,0.0,7.267500,6.352992
2411,2411,2021-08-08 05:00:00,19.417501,20.996668,0.00,22.0,22.467501,22.610315
2266,2266,2021-03-16 05:00:00,-4.082500,-0.380417,0.07,1.0,2.667500,3.964656
1432,1432,2018-12-03 05:00:00,6.017500,10.177917,0.00,0.0,12.817500,14.763421
712,712,2016-12-13 05:00:00,-1.689000,1.550583,0.00,0.0,4.811000,5.541908

In [12]:
'''Aquí se guarda el modelo para un uso posterior.'''
save_model(best,'prediccion_temp_max')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Unnamed: 0', 'temperature_2m_min',
                                              'temperature_2m_mean',
                                              'snowfall_sum',
                                              'precipitation_hours'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['date'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['date'],
                                     transformer=TargetEncoder(cols=['date'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model', HuberRegressor())]),
 'prediccion_temp_max.pkl')